//
// M -- single query
//


@mixin m($min, $max: null) {
  $prev-m: $curr-m;
  $curr-m: $min !global;
  @media #{__query-string($min, $max)} { @content }
  $curr-m: $prev-m !global;
}


@mixin mm($args...) {
  $m-pairs: mm($args...);
  @if length($m-pairs) == 0 { @content; }
  @else {
    @each $pair in $m-pairs {
      @include m($pair...) {
        @content;
      }
    }
  }
}

@mixin mm-for($props...) {
  @include mm(null,null,$props...) {
    @content;
  }
}

//
// ALIASES
//


@mixin medium($args...) { @include m($args...) { @content; } }
@mixin media($args...) { @include mm($args...) { @content; } }
@mixin media-for($args...) { @include mm-for($args...) { @content; } }
