$medium-default: (
  font-size: 16px,
  inner-x: 2rem,
  outer-right: 2rem,
  outer-left: 2rem,
  copy-width: 30rem,
  copy-columns: 6,
  grid-columns: 6,
);

//
// INIT by GRID-COLUMNS
//

@mixin m-init($rules: true) {

  // init base

  $base-orig: $base !global;
  $base: __normalize-medium(map-merge($medium-default, $base), 16px) !global;

  // init media

  $media-orig: $media !global;
  $reference: $base;
  @each $m, $medium in $media {
    @if not index(map-keys($medium), 'grid-columns') { @include error('sass-m / m-init: one of your $media does not have a grid-columns key'); }
    $reference: __normalize-medium(__deep-merge($reference, $medium));
    $reference: call('__populate-medium-by-grid-columns', $reference);
    $media: map-merge($media, ($m: $reference)) !global;
  }

  $done-m: true !global;

  @if $rules {
    @include mm-for('font-size') { html { font-size: medium-var('html-scale') * 1em; } }
  }
}
