//
// init
//


@mixin m-init($basis: 'breakpoint') {

  // init base
  $base-orig: $base !global;
  $base: __normalize-medium(data-merge($medium-default, $base), 16px) !global;
  @if length($media) == 0 { $media: map-get($media-defaults, $basis) !global; }
  // init media
  $media-orig: $media !global;
  $reference: $base;
  @each $m, $medium in $media {
    @if not index(map-keys($medium), $basis) { @include error('sass-m / m-init: one of your $media does not have a #{$basis} key'); }
    $reference: __normalize-medium(data-merge($reference, $medium));
    $reference: call('__populate-medium-by-#{$basis}', $reference);
    $media: map-merge($media, ($m: $reference)) !global;
  }
  $done-m-init: true !global;
}


//
// setup
//


@mixin m-setup($basis: 'breakpoint') {

  // run init, if it's not done
  @if not $done-m-init { @include m-init($basis); }
  // output media and base as json
  @include set-css-data((media: $media, base: $base));
  // output html ground-rules
  @include mm-for('size') { html { font-size: medium-var('scale') * 1em; } }
  $done-m-setup: true !global;
}
