/*

__normalize-medium
__setup-medium-by-breakpoints
__setup-medium-by-columns
__props-for
__media-for
__query-string


inner-x

inner-y
outer-top
outer-right
outer-bottom
outer-left
size
line
auto-line
trim-value
trim-margin
trim-margin-ex
trim-margin-em
trim-margin-mx


SASS TRUE SAMPLE TEST

@import "true";

@include test-module('Utilities') {

  // Testing Functions
  @include test('Map Add [function]') {
    $base: (one: 1, two: 1, three: 1);
    $add: (one: 1, two: 2, three: -1);

    $test: map-add($base, $add);
    $expect: (one: 2, two: 3, three: 0);
    @include assert-equal($test, $expect,
      'Returns the sum of two numeric maps');
  }

  // Testing Mixins
  @include test('Font Size [mixin]') {
    @include assert('Outputs a font size and line height based on keyword.') {
      @include output { // should this be called 'input???'
        @include font-size(large);
      }

      @include expect {
        font-size: 2rem;
        line-height: 3rem;
      }
    }
  }
}

// Optionally show summary report in CSS and/or the command line:
// - If you use Mocha, reporting to the command line is automatic.
// - if you use true-cli, report(terminal) is required for output.
@include report;
*/
