// peerDependencies

@import '@lunelson/sass-throw/index';
@import '@lunelson/sass-maps-plus/index';
@import '@lunelson/sass-calc/index';
@import '@lunelson/sass-u/index';

// self
@import '../index';

$media: (
  alpha: (
    line: 20px,
    test: 40px,
    breakpoint: 20em,
    size: 17px,
  ),
  beta: (
    breakpoint: 30em,
    size: 19px,
    number: 3,
    map: (a: 2, b: 4, c: 6),
    list: 2 3 4,
  ),
  gamma: (
    breakpoint: 40em,
    size: 21px,
    number: 5,
  ),
);

$base: (
  font-size: 16px,
  number: 2,
  map: (a: 1, b: 2),
  list: 1 2 3,
);

@include m-init();

/* $media: #{map-stringify($media)} */
