//      _      _
//     | |    | |
//   __| | ___| |__  _   _  __ _
//  / _` |/ _ \ '_ \| | | |/ _` |
// | (_| |  __/ |_) | |_| | (_| |
//  \__,_|\___|_.__/ \__,_|\__, |
//                          __/ |
//                         |___/


@mixin m-debug($visible: false, $color: rgba(0,200,200,0.08)) {

  // grid-columns
  @if $visible {
    body::after {
      content: '';
      top: 0;
      bottom: 0;
      left: 50%;
      position: fixed;
      height: 100%;
      pointer-events: none;
      user-select: none;
      z-index: 999;
      display: block;

      $column-count: medium-value('column-count') or 8;
      $margin-x: medium-value('margin-x');
      $page-right: medium-value('page-right');
      $page-left: medium-value('page-left');
      $page-sum: $page-right + $page-left;
      $page-diff: $page-right - $page-left;

      width: calc(100% - #{$page-sum} + #{$margin-x});
      margin-left: calc((100% - #{$page-sum - $page-diff} + #{$margin-x} * 2) / -2);
      background: linear-gradient(to right,
        rgba(0,0,0,0) $margin-x,
        $color $margin-x,
        $color calc((100% - #{$page-sum} + #{$margin-x}) / #{$column-count} - #{$margin-x})
      );
      background-size: calc((100% - #{$page-sum} + #{$margin-x} * 3) / #{$column-count});
    }

    @each $alias in map-keys($media) {
      @include media($alias) {
        $column-count: medium-value('column-count') or 8;
        $margin-x: medium-value('margin-x');
        $page-right: medium-value('page-right');
        $page-left: medium-value('page-left');
        $page-diff: $page-right - $page-left;
        $content-width: medium-value('content-width') + $margin-x;

        body:after {
          width: $content-width;
          margin-left: ($content-width + $page-diff + $margin-x)/-2;
          background: linear-gradient(to right,
            rgba(0,0,0,0) $margin-x,
            $color $margin-x,
            $color $content-width / $column-count - $margin-x
          );
          background-size: $content-width / $column-count;
        }
      }
    }
  }
}
