//
// init helpers [private] ✅
// --------------------------------------------------------------------------


  // normalize medium
  @function __normalize-medium($medium) {

    // correct for size and line units/non-units
    $size: map-get($medium, 'size');
    $line: map-get($medium, 'line');
    $base-size: if($medium == $base, 16px, map-get($base, 'size'));
    @if unit($size) != 'px' { $size: __strip($size) * $base-size; }
    @if unit($line) == 'px' { $line: $line / $size; }

    // put these in a new map
    $normal: (
      'size': $size,
      'line': $line,
      'scale': __strip($size / 16px)
    );

    // merge additional corrections if necessary
    @each $key, $value in map-remove($medium, 'size', 'line', 'breakpoint', 'size-mults', 'line-mults', 'inner-x-mults', 'inner-y-mults', 'outer-x-mults', 'outer-y-mults') {
      @if unit($value) == 'px' { $normal: map-merge($normal, ($key: $value / $size * 1rem)); }
    }

    // return merged corrections
    @return map-merge($medium, $normal);
  }

  // setup medium by breakpoints
  @function __setup-medium-by-breakpoints($current, $medium) {

    // merge medium to current; normalize result
    $current: __normalize-medium(map-merge($current, $medium));

    // get and merge sub-maps
    $size-mults: map-merge(map-get($current, 'size-mults'), map-get($medium, 'size-mults') or ());
    $line-mults: map-merge(map-get($current, 'line-mults'), map-get($medium, 'line-mults') or ());
    $inner-x-mults: map-merge(map-get($current, 'inner-x-mults'), map-get($medium, 'inner-x-mults') or ());
    $inner-y-mults: map-merge(map-get($current, 'inner-y-mults'), map-get($medium, 'inner-y-mults') or ());

    // calc and merge additional props
    $breakpoint: map-get($current, 'breakpoint');
    $outer-width: __assert($breakpoint / map-get($current, 'scale'), rem);
    $outer-x: map-get($current, 'outer-right') + map-get($current, 'outer-left');

    // merge these back to reference
    @return map-merge($current, (
      'content-width': $outer-width - $outer-x,
      'size-mults': $size-mults,
      'line-mults': $line-mults,
      'inner-x-mults': $inner-x-mults,
      'inner-y-mults': $inner-y-mults,
    ));
  }

  // setup medium by columns
  @function __setup-medium-by-columns($current, $medium) {

    // merge medium to current; normalize result
    $current: __normalize-medium(map-merge($current, $medium));

    // get and merge sub-maps
    $size-mults: map-merge(map-get($current, 'size-mults'), map-get($medium, 'size-mults') or ());
    $line-mults: map-merge(map-get($current, 'line-mults'), map-get($medium, 'line-mults') or ());
    $inner-x-mults: map-merge(map-get($current, 'inner-x-mults'), map-get($medium, 'inner-x-mults') or ());
    $inner-y-mults: map-merge(map-get($current, 'inner-y-mults'), map-get($medium, 'inner-y-mults') or ());

    // calc and merge additional props
    $size: map-get($current, 'size');
    $inner-x: map-get($current, 'inner-x');
    $outer-x: map-get($current, 'outer-right') + map-get($current, 'outer-left');

    $reading-width: map-get($current, 'reading-width');
    $reading-columns: map-get($current, 'reading-columns');
    $grid-columns: map-get($current, 'grid-columns');
    $reading-vs-grid: $reading-columns/$grid-columns;

    $content-width: ($reading-width + $inner-x) / $reading-vs-grid - $inner-x;
    $outer-width: $content-width + $outer-x;
    $breakpoint: __assert($outer-width * map-get($current, 'scale'), em);

    @return map-merge($current, (
      'content-width': $content-width,
      'breakpoint': $breakpoint,
      'size-mults': $size-mults,
      'line-mults': $line-mults,
      'inner-x-mults': $inner-x-mults,
      'inner-y-mults': $inner-y-mults,
    ));
  }


//
// [private] query helpers
// --------------------------------------------------------------------------


  @function __props-for($group-key){
    $groups: (
      size: (size-mults),
      line: (line-mults),
      inner-x: (inner-x-mults),
      inner-y: (inner-y-mults),
      outer: (outer-right outer-left outer-x-mults),
      outer-y: (outer-top outer-bottom outer-y-mults),
      stack: (inner-y inner-y-mults),
      grid: (inner-x inner-x-mults grid-columns),
      typo: (line line-mults inner-y),
    );
    $group-keys: map-keys($groups);
    @if index($group-keys, $group-key) {
      $group: map-get($groups, $group-key);
      @each $item in $group {
        @if index($group-keys, $item) {
          $group: join($group, map-get($groups, $item));
        }
      }
      @return $group;
    }
    @return $group-key;
  }

  @function __media-for($group-keys...) {
    $group-keys: __normalize-arglist($group-keys...);
    $props: $group-keys; $media-keys: ();
    @each $key in $group-keys {
      $props: join($props, __props-for($key)); }
    // @return $props;
    // function is good up to here; compare against media-orig...
    @each $m, $medium in $media-orig {
      @if __contains-any(map-keys($medium), $props) {
        $media-keys: append($media-keys, $m);
      }
    }
    @return $media-keys;
  }

  @function __query-string($min: null, $max: null) {
    $min: if(map-has-key($media, $min), __get($media, $min, 'breakpoint'), $min);
    $max: if(map-has-key($media, $max), __get($media, $max, 'breakpoint'), $max);
    @return 'screen'
      + if($min, ' and (min-width: #{$min})', '')
      + if($max, ' and (max-width: #{$max - 0.001})', '');
  }


//
// [private] value helpers ✅
// --------------------------------------------------------------------------

  @function __string($s) {
    @return type-of($s) == 'string';
  }

  @function __number($n) {
    @return type-of($n) == 'number';
  }

  @function __unitless($n) {
    @return if(__number($n), unitless($n), false);
  }

  @function __rem($values, $m: $curr-m) {
    @if not $values or length($values) == 0 { @return null; }
    $size: m-value('size', $m); $result: ();
    @each $value in $values {
      @if unit($value) == 'px' { $result: append($result, __assert($value / __strip($size), rem), 'space'); }
      @else { $result: append($result, __assert($value, rem), 'space'); }
    }
    @return if(length($result) > 1, $result, nth($result, 1));
  }

  @function __px($values, $m: $curr-m) {
    @if not $values or length($values) == 0 { @return null; }
    $size: m-value('size', $m); $result: ();
    @each $value in $values {
      @if unit($value) == 'px' { $result: append($result, $value, 'space'); }
      @else { $result: append($result, __assert($value * __strip($size), 'px'), 'space'); }
    }
    @return if(length($result) > 1, $result, nth($result, 1));
  }

  @function __mult($mult, $name, $m: $curr-m) {
    @if not $mult { @return 1; }
    @else if __unitless($mult) { @return $mult; }
    @else if __number($mult) { @return __rem($mult, $m); }
    @else if __string($mult) {
      $mults: m-value('#{$name}-mults', $m);
      @if not $mults { @error 'mults map \"#{$name}-mults\" not found'; }
      $value: map-get($mults, $mult);
      @if not $value { @error 'mult \"#{$mult}\" not found in \"#{$name}-mults\"'; }
      @return $value;
    }
    @warn '__mult fell through';
    @return null;
  }


//
// font value getters ✅
// --------------------------------------------------------------------------



  @function font($font: $curr-font) {
    $font: $font or 'base';
    @return map-get($fonts, $font);
  }

  @function font-value($value, $font: $curr-font) {
    @return map-get(font($font), $value);
  }


//
// medium value getters ✅
// --------------------------------------------------------------------------


  // m object
  @function m($m: $curr-m) {
    @return if($m, map-get($media, $m), $base);
  }

  @function m-orig($m: $curr-m) {
    @return if($m, map-get($media-orig, $m), $base-orig);
  }


  // generic m value
  @function m-value($value, $m: $curr-m) {
    @return map-get(m($m), $value);
  }

  @function m-orig-value($value, $m: $curr-m) {
    @return map-get(m-orig($m), $value);
  }


  // simple m values
  @function inner-x($mult: $curr-inner-x, $m: $curr-m) {
    $mult: __mult($mult, 'inner-x', $m);
    @return if(__unitless($mult), $mult * m-value('inner-x', $m), $mult);
  }

  @function inner-y($mult: $curr-inner-y, $m: $curr-m) {
    $mult: __mult($mult, 'inner-y', $m);
    @return if(__unitless($mult), $mult * m-value('inner-y', $m), $mult);
  }

  @function outer-top($mult: $curr-outer-y, $m: $curr-m) {
    $mult: __mult($mult, 'outer-y', $m);
    @return if(__unitless($mult), $mult * m-value('outer-top', $m), $mult);
  }

  @function outer-right($mult: $curr-outer-x, $m: $curr-m) {
    $mult: __mult($mult, 'outer-x', $m);
    @return if(__unitless($mult), $mult * m-value('outer-right', $m), $mult);
  }

  @function outer-bottom($mult: $curr-outer-y, $m: $curr-m) {
    $mult: __mult($mult, 'outer-y', $m);
    @return if(__unitless($mult), $mult * m-value('outer-bottom', $m), $mult);
  }

  @function outer-left($mult: $curr-outer-x, $m: $curr-m) {
    $mult: __mult($mult, 'outer-x', $m);
    @return if(__unitless($mult), $mult * m-value('outer-left', $m), $mult);
  }

//
// complex value getters [auto m resolution]
// --------------------------------------------------------------------------


  // mult, font
  @function size($mult: $curr-size, $font: $curr-font) {
    $mult: __mult($mult, 'size');
    @if not __unitless($mult) { @error 'size(): $mult argument must resolve to unitless number'; }
    @return $mult * 1rem * font-value('size-adjust', $font);
  }

  @function line($mult: $curr-line, $font: $curr-font) {
    $mult: __mult($mult, 'line');
    @if not __unitless($mult) { @error 'line(): $mult argument must resolve to unitless number'; }
    @return $mult * m-value('line') / font-value('size-adjust', $font);
  }


  // size, font
  @function auto-line($size: size(), $font: $curr-font) {}


  // line, font, type
  @function trim-value($line: $curr-line, $font: $curr-font, $type: 'ex'){
    $lh: line($line, $font);
    $em: font-value('em-adjust', $font) * 1em;
    $ex: font-value('ex-adjust', $font) * 1ex;
    $deltas: (em: 0, ex: subtract($em, $ex), mx: subtract($em/2, $ex/2));
    @return add((($lh * 1em - $em) / 2), map-get($deltas, $type));
  }


  // mult, line, font, type
  @function trim-margin($mult: $curr-inner-y, $line: $curr-line, $font: $curr-font, $type: 'ex') {
    @return subtract(inner-y($mult), trim-value($line, $font, $type));
  }

  @function trim-margin-ex($mult: $curr-inner-y, $line: $curr-line, $font: $curr-font) {
    @return subtract(inner-y($mult), trim-value($line, $font, 'ex'));
  }

  @function trim-margin-em($mult: $curr-inner-y, $line: $curr-line, $font: $curr-font) {
    @return subtract(inner-y($mult), trim-value($line, $font, 'em'));
  }

  @function trim-margin-mx($mult: $curr-inner-y, $line: $curr-line, $font: $curr-font) {
    @return subtract(inner-y($mult), trim-value($line, $font, 'mx'));
  }
