//
// globals
// --------------------------------------------------------------------------


  $base: () !default;
  $media: () !default;
  $fonts: () !default;

  $base-orig: () !default;
  $media-orig: () !default;

  $globals: () !default;

  $curr-m: null !default; // key
  $curr-f: null !default; // key

  $curr-size: null !default; // key | value
  $curr-line: null !default; // key | value
  $curr-inner-y: null !default; // key | value
  $curr-inner-x: null !default; // key | value
  $curr-outer-y: null !default; // key | value
  $curr-outer-x: null !default; // key | value

  $curr-stack: null !default; // selector
