@import '../../index';

$media: (
  a: (
    breakpoint: 20em,
    size: 20px
  ),
  b: (
    breakpoint: 30em,

  )
);

@include m-init((init-type: breakpoints, output: false));

.content {
  @include stack(3rem, 1.2) {
    h1 {
      @include trim((excl: 'div' 'dl'));
      // out: inspect(font());
      // out: inspect(trim-value());
    }
  }
}

// .debug {
//   out: inspect(m-value(scale));
//   out: inspect(m-value(size));
//   out: inspect($curr-m);

//   @include m(a,b) {

//     out: inspect(m-value(scale));
//     out: inspect(m-value(size));
//     out: inspect($curr-m);
//   }
// }


/* fonts: #{map-stringify($fonts)} */
/* base: #{map-stringify($base)} */
/* media: #{map-stringify($media)} */
