@import '../../index';

$media: (
  a: (
    breakpoint: 20em,
    inner-y-mults: (sm: 0.5),
    size: 20px
  ),
  b: (
    breakpoint: 30em,

  )
);

$base: ( inner-y-mults: (sm: 0.5) );
@include m-init((basis: breakpoints, output: false));

.test {
  out: inspect(__rem(20px));
  out: inspect(m());
  out: inspect(m-value('inner-y-mults'));
  out: inspect(__mult('sm', 'inner-y', null));
}


.content {
  @include stack(3rem, 1.2) {
    h1 {
      @include trim((excl: 'div' 'dl'));
      // out: inspect(font());
      // out: inspect(trim-value());
    }
  }
}

// .debug {
//   out: inspect(m-value(scale));
//   out: inspect(m-value(size));
//   out: inspect($curr-m);

//   @include m(a,b) {

//     out: inspect(m-value(scale));
//     out: inspect(m-value(size));
//     out: inspect($curr-m);
//   }
// }


/* fonts: #{map-stringify($fonts)} */
/* base: #{map-stringify($base)} */
/* media: #{map-stringify($media)} */
