.test {
  out: 1.25rem;
  out: (size: 16px, size-mults: (), line: 1.5, line-mults: (), inner-x: 2rem, inner-x-mults: (), inner-y: 2rem, inner-y-mults: (sm: 0.5), outer-top: 2rem, outer-bottom: 2rem, outer-y-mults: (), outer-right: 2rem, outer-left: 2rem, outer-x-mults: (), reading-width: 24rem, reading-columns: 4, grid-columns: 4, "scale": 1);
  out: (sm: 0.5);
  out: 0.5;
}

.content {
  padding-top: 0.1px;
  padding-bottom: 0.1px;
}

.content > * + * {
  margin-top: 3rem;
}

.content h1 {
  line-height: 1.8;
}

.content > h1 {
  margin-top: calc(0rem - 0.4em);
  margin-bottom: calc(0rem - 0.4em);
}

.content > *:not(div):not(dl):not(.m-block) + h1 {
  margin-top: calc(2rem - (0.4em + (1em - 1ex)));
}

/* fonts: (
  base: (
    family: arial, sans-serif,
    em-adjust: 1,
    ex-adjust: 1,
    size-adjust: 1,
    spacing-max: 0.5,
    spacing-end: 50
  ),
  serif: (
    family: georgia, serif,
    em-adjust: 1,
    ex-adjust: 1,
    size-adjust: 1,
    spacing-max: 0.5,
    spacing-end: 50
  ),
  mono: (
    family: monaco, consolas, "lucida console", monospace,
    em-adjust: 1,
    ex-adjust: 1,
    size-adjust: 1,
    spacing-max: 0.5,
    spacing-end: 50
  )
) */
/* base: (
  size: 16px,
  size-mults: ,
  line: 1.5,
  line-mults: ,
  inner-x: 2rem,
  inner-x-mults: ,
  inner-y: 2rem,
  inner-y-mults: (
    sm: 0.5
  ),
  outer-top: 2rem,
  outer-bottom: 2rem,
  outer-y-mults: ,
  outer-right: 2rem,
  outer-left: 2rem,
  outer-x-mults: ,
  reading-width: 24rem,
  reading-columns: 4,
  grid-columns: 4,
  scale: 1
) */
/* media: (
  a: (
    size: 20px,
    size-mults: (
      
    ),
    line: 1.5,
    line-mults: (
      
    ),
    inner-x: 2rem,
    inner-x-mults: (
      
    ),
    inner-y: 2rem,
    inner-y-mults: (
      sm: 0.5
    ),
    outer-top: 2rem,
    outer-bottom: 2rem,
    outer-y-mults: ,
    outer-right: 2rem,
    outer-left: 2rem,
    outer-x-mults: ,
    reading-width: 24rem,
    reading-columns: 4,
    grid-columns: 4,
    scale: 1.25,
    breakpoint: 20em,
    content-width: 12rem
  ),
  b: (
    size: 20px,
    size-mults: (
      
    ),
    line: 1.5,
    line-mults: (
      
    ),
    inner-x: 2rem,
    inner-x-mults: (
      
    ),
    inner-y: 2rem,
    inner-y-mults: (
      sm: 0.5
    ),
    outer-top: 2rem,
    outer-bottom: 2rem,
    outer-y-mults: ,
    outer-right: 2rem,
    outer-left: 2rem,
    outer-x-mults: ,
    reading-width: 24rem,
    reading-columns: 4,
    grid-columns: 4,
    scale: 1.25,
    breakpoint: 30em,
    content-width: 20rem
  )
) */
